<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rxjava">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home_android_5.TimerActivity"></activity>
        <activity android:name=".home_android_4.ActivityInterval" />
        <activity android:name=".home_android_3.FlowableActivity" />
        <activity android:name=".home_android_2.ActivityHomeAndroid2" />
        <activity android:name=".fake_api.FakeApiActivity" />
        <activity android:name=".ActivityHomeAndroid1" />
        <activity android:name=".OperatorActivity" />
        <activity android:name=".ActivityHttpObservable" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityJust" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>